* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff9ec; 
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

header {
  background-color: #0d1b3e;
  padding: 20px;
  text-align: center;
}


.logo-img {
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  display: block;
}


section {
  padding: 40px 20px;
}


h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  color: #0d1b3e;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto 20px;
  text-align: center;
}

.btn-primary {
  background-color: #fbe870; 
  color: #0d1b3e;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ffe54c;
  color: #0d1b3e;
}


footer {
  background-color: #0d1b3e;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}