
$color-background: #fff9ec;
$color-text: #0d1b3e;
$color-yellow: #fbe870;
$color-yellow-hover: #ffe54c;
$color-white: #ffffff;


$font-body: 'Montserrat', sans-serif;
$font-title: 'Pacifico', cursive;


$spacing-section: 40px;
